*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(to top right,  #e05297da 50%,  #e787b5 50%, #ee72aed5 100%);
}
h2{
    color: white;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
    font-size: xx-large;
    font-style: italic;
}
button{
    margin-left: 5px;
    border-top-left-radius: 500px;
    border:2px solid rgba(255, 255, 255, 0.274);
    background:rgba(255, 255, 255, 0.356);
    color:white;
    margin-left: 130px;
    width: 180px;
    height: 70px;
    font-style:oblique;
    font-size: xx-large;
}
h1{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: xx-large;
    font-style:oblique;
}